/*html {
    transform: scale(2) !important;
    height: 50% !important;
    width: 50% !important;
    margin: 12.5% 0 0 25% !important;
}*/

@font-face {
    font-family: "BPreplayBold";
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BPreplayBold.woff') format('woff');
}

#dockbar {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    z-index: 1000;
}

#dockbar i.tada {
    -webkit-animation: tada 1s linear 1;
    animation: tada 1s linear 1;
}

#dockbar i.spin {
    -webkit-animation: spin 1.5s linear 3;
    animation: spin 1.5s linear 3;
}

#dockbar div {
    font-family: "BPreplayBold", Verdana, Tahoma, "Comic Sans MS", cursive, sans-serif !important;

    font-size: 1.3vmax;
}

#dockbar > div.hide-button {
    display: none;
}

#dockbar > div {
    display: inline-block;
    margin-left: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#dockbar > div:not(:last-child) {
    margin-right: 0.8em;
}

#batterycontainer.low-battery{
    color: red;
}

#dockbar i.image-container {
    text-align: center;
    display: block;
}

span.percentage-indicator, span.hostname-indicator {
    font-size: 2em;
    font-weight: bolder;
}

span.percentage-indicator > span.percentage-symbol {
    font-size: 0.7em;
    font-weight: bolder;
}

#dockbar i.wifi-0:before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_0.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}

#dockbar i.wifi-1:before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}

#dockbar i.wifi-1-red:before {
    background-image: url('hrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1_red.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}

#dockbar i.wifi-2:before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_2.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}

#dockbar i.wifi-3:before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_3.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}

#dockbar i.wifi-4:before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_4.png');
    background-size: 2vmax 2vmax;
    display: inline-block;
    content : "";
    width: 2vmax;
    height: 2vmax;
}