@font-face {
    font-family: "BPreplayBold";
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BPreplayBold.woff') format('woff');
}

#dockbar {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    z-index: 1000;
}

#dockbar i.tada {
    -webkit-animation: tada 1s linear 1;
    animation: tada 1s linear 1;
}

#dockbar i.spin {
    -webkit-animation: spin 1.5s linear 3;
    animation: spin 1.5s linear 3;
}

#dockbar div {
    font-family: "BPreplayBold", Verdana, Tahoma, "Comic Sans MS", cursive, sans-serif !important;
    font-size: 12px;
}

#dockbar > div {
    display: inline-block;
    margin: 10px;
}

#dockbar > div:not(:last-child) {
    margin-right: 10px;
}

#batterycontainer.low-battery{
    color: red;
}

#dockbar i.image-container {
    text-align: center;
    display: block;
}

span.percentage-indicator {
    font-size: 2em;
    font-weight: bolder;
}

span.percentage-indicator > span.percentage-symbol {
    font-size: 0.7em;
    font-weight: bolder;
}

#dockbar i.wifi-0:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_0.png')
}

#dockbar i.wifi-1:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1.png')
}

#dockbar i.wifi-1-red:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1_red.png')
}

#dockbar i.wifi-2:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_2.png')
}

#dockbar i.wifi-3:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_3.png')
}

#dockbar i.wifi-4:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_4.png')
}