#dockbar {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    z-index: 1000;
}

#dockbar > div {
    display: inline-block;
    margin: 5px;
}

#dockbar > div:not(:last-child) {
    margin-right: 10px;
}

#batterycontainer.low-battery{
    color: red;
}

i.wifi-0 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_0.png')
}

i.wifi-1 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1.png')
}

i.wifi-1-red {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_1_red.png')
}

i.wifi-2 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_2.png')
}

i.wifi-3 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_3.png')
}

i.wifi-4 {
    content: url('chrome-extension://__MSG_@@extension_id__/images/wifi/wifi_4.png')
}